.external-container {
  background-color: rgba(168, 150, 120, 0.8);
  position: relative;
  height: 100%;
  padding: 5%;
  border-bottom: 5px solid grey;
}

.container-a {
  width: 100%;
  height: 100%;
  position: relative;
}

.container-a h3 {
  font-weight: bolder;
  font-size: 18px;
  text-align: center;
}

.header-box {
  width: 50%;
  margin-left: 25%;
  margin-bottom: 10%;
}

.container-a-p {
  text-align: center;
  align-items: center;
  justify-content: center;
  display: flex;
}

.person-wrapper {
  margin-left: auto;
  margin-right: auto;

  width: 200px;

  padding-left: 10px;
  padding-right: 10px;
}

.person-container {
  float: left;

  border: 1px solid grey;
  margin: 20px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.person-container img {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

@media only screen and (max-width: 1480px) {
}

@media only screen and (max-width: 1020px) {
  .person-container {
    float: left;
    width: 33%;
    margin: 10px;
  }

  .person-wrapper {
    margin-left: auto;
    margin-right: auto;

    width: 160px;

    padding-left: 10px;
    padding-right: 10px;
  }
}

@media only screen and (max-width: 560px) {
  .container-a-p {
    display: inline;
  }

  .person-container {
    float: none;
    width: 100%;
    margin: 0px;
  }

  .header-box {
    width: 100%;
    margin-left: 0;
  }

  .container-a h3 {
    font-size: 15px;
    text-align: center;
  }
}
