.external-container-c {
  position: relative;
  height: 100%;
  margin-right: 0;
  padding: 5%;
  margin-top: 0%;
   border-bottom: 5px solid grey;
  background-image: url("../images/backOffice.jpg");
  background-size: cover;
}

.container-c {
  width: 100%;
  margin-top: 35px;
  margin-bottom: 35px;
  border: 1px solid grey;
  justify-content: right;
  background-color: white;
  border-radius: 1%;
}

.container-form {
  padding: 35px;
  display: grid;
}

.container-c-info {
  padding-top: 35px;
  margin-left: 35px;
}

.container-form label {
  margin-top: 35px;
  margin-bottom: 5px;
}

.container-form p {
  margin-top: 35px;
  margin-left: 5px;
}

.checkbox-container {
  display: flex;
  justify-content: left;
  align-items: center;
}

textarea[type="text"] {
  flex: 1;
  width: 100%;
  resize: none;
  margin-top: 5%;
  line-break: strict;
  text-align: start;
  word-break: break-word;
  padding-bottom: 250px;
  font-family: sans-serif;
}

input[type="checkbox"] {
  margin: 10px 25px;
  border-radius: 50%;
  color: aqua;
}

input[type="submit"] {
  font-weight: bold;
  font-family: Arial;
  width: 30%;
  flex: 1;
  resize: none;
  margin-top: 5%;
  margin-left: 70%;
  border-radius: 2%;
  background-color: rgba(243, 228, 180, 0.5);
  border-color: rgba(247, 226, 160, 0.5);
  height: 50px;
}

input[type="email"] {
  width: 33%;
  padding: 10px 12px;
  resize: none;
  font-family: sans-serif;
}

textarea[type="text"]:hover {
  border-color: black;
}

input[typ="email"]:hover {
  border-color: black;
}

@media only screen and (min-width: 2000) {
  .container-c {
    background-size: 100%;
  }
}

@media only screen and (max-width: 1180px) {
  .container-c {
    justify-content: center;
  }

  input[type="email"] {
    width: 100%;
    padding: 12px 1px;
  }

  input[type="submit"] {
    width: 100%;
    margin-left: 0%;
  }

  .external-container-c {
    background-image: none;
    padding: 0%;
  }

  .container-c {
    margin-top: 0px;
    margin-bottom: 0px;
    border-radius: 0%;
    border: 0px;
  }
}

@media only screen and (max-width: 780px) {
  .container-c {
    justify-content: center;
  }

  input[type="email"] {
    width: 100%;
    padding: 12px 1px;
  }

  input[type="submit"] {
    width: 100%;
    margin-left: 0%;
  }
}

@media only screen and (max-width: 560px) {
  .container-c {
    justify-content: center;
    align-items: center;
  }

  .container-c-info {
    width: 83%;
  }

  input[type="email"] {
    width: 100%;
    padding: 12px 1px;
  }

  input[type="submit"] {
    width: 100%;
    margin-left: 0%;
  }

  input[type="checkbox"] {
    margin: 10px 5px;
    border-radius: 50%;
  }

  .checkbox-container {
    display: inline;
    justify-content: left;
    align-items: center;
  }
}

.alert-box {
  opacity: 1;
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
  opacity: 1;
  transition: opacity 2s ease-in;
  -moz-transition: opacity 2s ease-in;
  -webkit-transition: opacity 2s ease-in;
}

.success {
  color: #3c763d;
  background-color: #dff0d8;
  border-color: #d6e9c6;
}

.error {
  color: #76433c;
  background-color: #ecd1d0;
  border-color: #e9cdc6;
}
