.social-container {
  position: relative;
  /*background: rgb(238,190,12);
  background: radial-gradient(circle, rgba(238,190,12,1) 0%, rgba(246,207,103,1) 35%, rgba(242,237,221,1) 100%);  */
  background-color: white;
  padding: 25px 0px;
  bottom: 0;
  right: 0;

  z-index: 1;
}

.flex-container {
  justify-content: center;
  align-items: center;
  display: flex;

}

.social-icons {
  float:left;
  width: 5%;
  margin: 1%;
}

.social-icons img {
  width: 100%;
}

.social a {
  margin-right: 10px;
  transition: transform 0.5s;
}

.social a:hover {
  transform: translateZ(20px);
}

@media only screen and (max-width: 1280px) {
  .social-icons img {
    width: 150%;
  }

  .social-icons {
    width: 10%;
    margin: 5%;
  }
}
