.header-container {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: left;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.1);
  z-index: 3;
  margin-top: 0%;
}

.header {
  list-style: none;
  color: white;
  font-weight: bold;
}

.header li {
  float:left;
  margin: 25px;
}

.header li:hover {
  color: lightblue;
}

@media only screen and (max-width: 1180px) {
  .header-container {
    justify-content: center;
  }

  .header li {
    margin: 15px;
  }

}

@media only screen and (max-width: 450px) {
  .header-container {
    justify-content: center;
  }

  .header li {
    float:inline-start;
    margin: 7px;
  }

}


