.container {
  position: relative;
  height: 1000px;
  background-image: url("../images/backdrop.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 1;
  border-bottom: 5px solid grey;
}
.backdrop img {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 1;
  border-bottom: 5px solid grey;
}

.backdrop-slogan {
  z-index: 2;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.3);
  width: 100%;
  flex: content;
  top: 70%;
  color: white;
}

.backdrop-slogan h3 {
  margin-left: 10%;
  font-weight: bold;
  font-size: 32px;
}

.backdrop-slogan p {
  margin-left: 10%;
  font-size: 25px;
}

@media only screen and (max-width: 1230px) {
  .backdrop-slogan {
    top: 70%;
  }

  .backdrop-slogan h3 {
    margin-left: 10%;
    font-weight: bold;
    font-size: 20px;
  }

  .backdrop-slogan p {
    margin-left: 10%;
    font-size: 15px;
  }
}

@media only screen and (max-width: 800px) {
  .backdrop-slogan {
    top: 50%;
  }

  .backdrop-slogan h3 {
    margin-left: 10%;
    font-weight: bold;
    font-size: 20px;
  }

  .backdrop-slogan p {
    margin-left: 10%;
    font-size: 15px;
  }
}

@media only screen and (max-width: 560px) {
  .container {
    height: 800px;
    background-size: 400%;
    background-repeat: no-repeat;
    background-position: 30%;
  }

  .backdrop-slogan {
    top: 70%;
  }
}
