.external-container-b {
  position: relative;
  height: 100%;
  padding: 5%;
  border-bottom: 5px solid grey;
}

.container-offers {
  display: block;
  justify-content: center;
  width: 100%;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.4);

  border-radius: 25px;
}

.container-offers table {
  padding: 0.5rem;
  align-items: center;
  border-collapse: collapse;
}

.container-offers table td:first-child {
  border-right: 1px solid rgba(0, 0, 0, 0.3);
}

.container-offers table th {
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  text-align: center;
  font-weight: bold;
  font-size: larger;
}

.container-offers table tr:nth-child(even) {
  background-color: rgba(0, 0, 0, 0.1);
}

.container-offers table th:first-child {
  text-align: left;
}

.container-offers table td {
  text-align: center;
}

.container-offers table td:first-child {
  text-align: left;
  margin-left: 20px;
}

.container-offers table tr:last-child {
  border-top: 1px solid rgba(0, 0, 0, 0.3);
  font-weight: bold;
  font-size: larger;
}

.rows {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-offers td,
th {
  margin: 10px;
  padding: 0.5rem;
  text-align: left;
  align-items: center;
  width: 25%;
  height: 40px;
}
.container-offers img {
  width: 10%;
}

.container-b {
  width: 100%;
  height: 100%;
  position: relative;
  text-align: left;
}

.container-b h3 {
  font-size: 35px;
  text-align: center;
  margin-bottom: 5%;
  text-decoration: underline;
}

.master-box {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 600px;
}

.box {
  position: relative;
  margin-bottom: 25px;
  width: 350px;
  padding: 10px;
  margin-left: 10px;
  height: 100%;
}

.box-img img {
  width: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  z-index: 2;
  margin-bottom: 10px;
}

.included_in_package {
  display: inline;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.package-description {
  width: 80%;
}

.package-description p {
  width: 10%;
}

.package-description img {
  width: 10%;
  margin-right: 15px;
}

.box-text {
  position: relative;
  height: 100%;
  text-align: center;
  right: 0;
  margin-left: 10%;
  border: 1px solid rgba(0, 0, 0, 0.3);
  z-index: 1;
  bottom: 0;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  transition: box-shadow 0.3s ease-in-out;
}

.box-text:hover {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.box-text p {
  padding: 10px;
}
.box-text h4 {
  font-size: 25px;
}

@media only screen and (max-width: 1480px) {
  .master-box {
    display: flex;
  }

  .box-text {
    margin-left: 5%;
    margin-right: 5%;
  }

  .box {
    width: 100%;
    padding: 0%;
  }
}

@media only screen and (max-width: 1020px) {
  .master-box {
    display: block;
    justify-content: center;
    align-items: center;
    height: auto;
  }

  .box-text {
    margin-left: 5%;
    margin-right: 5%;
  }

  .box {
    width: 100%;
    margin-left: 0px;
    padding: 0%;
  }
  .container-offers table th {
    font-size: medium;
  }

  .container-offers table tr:last-child {
    font-size: medium;
  }
}

@media only screen and (max-width: 560px) {
  .container-offers img {
    width: 15px;
  }

  .included_in_package {
    width: 20px;
  }
}
