.wrapper {
  margin-left: auto;
  margin-right: auto;

  width: 1280px;

  padding-right: 10px; /* 3 */
  padding-left: 10px; /* 3 */
}

.wrapper-form {
  margin-left: 30%;
  margin-right: auto;

  width: 920px;

  padding-right: 10px; /* 3 */
  padding-left: 10px; /* 3 */
}

@media only screen and (max-width: 1380px) {
  .wrapper {
    margin-left: auto;
    margin-right: auto;

    width: 1000px;

    padding-right: 10px; /* 3 */
    padding-left: 10px; /* 3 */
  }

  .wrapper-form {
    margin-left: auto;
    margin-right: auto;

    width: 1000px;

    padding-right: 10px; /* 3 */
    padding-left: 10px; /* 3 */
  }
}

@media only screen and (max-width: 1180px) {
  .wrapper {
    margin-left: 0px;
    margin-right: 0px;

    width: 100%;

    padding-right: 0px; /* 3 */
    padding-left: 0px; /* 3 */
  }

  .wrapper-form {
    margin-left: 0px;
    margin-right: 0px;

    width: 100%;

    padding-right: 0px; /* 3 */
    padding-left: 0px; /* 3 */
  }
}

@media only screen and (max-width: 980px) {
  .wrapper {
    margin-left: 0px;
    margin-right: 0px;

    width: 100%;

    padding-right: 0px; /* 3 */
    padding-left: 0px; /* 3 */
  }

  .wrapper-form {
    margin-left: 0px;
    margin-right: 0px;

    width: 100%;

    padding-right: 0px; /* 3 */
    padding-left: 0px; /* 3 */
  }
}

@media only screen and (max-width: 780px) {
  .wrapper {
    margin-left: 0px;
    margin-right: 0px;

    width: 100%;

    padding-right: 0px; /* 3 */
    padding-left: 0px; /* 3 */
  }

  .wrapper-form {
    margin-left: 0px;
    margin-right: 0px;

    width: 100%;

    padding-right: 0px; /* 3 */
    padding-left: 0px; /* 3 */
  }
}

@media only screen and (max-width: 680px) {
  .wrapper {
    margin-left: 0px;
    margin-right: 0px;

    width: 100%;

    padding-right: 0px; /* 3 */
    padding-left: 0px; /* 3 */
  }

  .wrapper-form {
    margin-left: 0px;
    margin-right: 0px;

    width: 100%;

    padding-right: 0px; /* 3 */
    padding-left: 0px; /* 3 */
  }
}

@media only screen and (max-width: 560px) {
  .wrapper {
    margin-left: 0px;
    margin-right: 0px;

    width: 100%;

    padding-right: 0px; /* 3 */
    padding-left: 0px; /* 3 */
  }

  .wrapper-form {
    margin-left: 0px;
    margin-right: 0px;

    width: 100%;

    padding-right: 0px; /* 3 */
    padding-left: 0px; /* 3 */
  }
}
